<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京市</key>
	<string>京</string>
	<key>天津市</key>
	<string>津</string>
	<key>河北省</key>
	<string>冀</string>
	<key>山西省</key>
	<string>晋</string>
	<key>内蒙古</key>
	<string>蒙</string>
	<key>辽宁省</key>
	<string>辽</string>
	<key>吉林省</key>
	<string>吉</string>
	<key>黑龙江省</key>
	<string>黑</string>
	<key>上海市</key>
	<string>沪</string>
	<key>江苏省</key>
	<string>苏</string>
	<key>浙江省</key>
	<string>浙</string>
	<key>安徽省</key>
	<string>皖</string>
	<key>福建省</key>
	<string>闽</string>
	<key>江西省</key>
	<string>赣</string>
	<key>山东省</key>
	<string>鲁</string>
	<key>河南省</key>
	<string>豫</string>
	<key>湖北省</key>
	<string>鄂</string>
	<key>湖南省</key>
	<string>湘</string>
	<key>广东省</key>
	<string>粤</string>
	<key>广西壮族自治区</key>
	<string>桂</string>
	<key>海南省</key>
	<string>琼</string>
	<key>重庆市</key>
	<string>渝</string>
	<key>四川省</key>
	<string>川</string>
	<key>贵州省</key>
	<string>贵</string>
	<key>云南省</key>
	<string>云</string>
	<key>西藏自治区</key>
	<string>藏</string>
	<key>陕西省</key>
	<string>陕</string>
	<key>甘肃省</key>
	<string>甘</string>
	<key>青海省</key>
	<string>青</string>
	<key>宁夏回族自治区</key>
	<string>宁</string>
	<key>新疆维吾尔自治区</key>
	<string>新</string>
</dict>
</plist>
